{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}
{% block content %}
<hr>
<div class="container">{% for category, articles in categories | sort %}
  <h4 class="text-center mt-3">{{ category }}</h4>
  <div class="row">{% for article in articles %}
    <dt class="col-sm-2 mb-0 font-weight-light">{{ article.locale_date }}</dt>
    <dd class="col-sm-10">
      {% if article.category == 'ipynb' %}<img src="theme/code-slash.svg" alt="Code slash" />{% endif %}
      <a href="{{ SITEURL }}/{{ article.url }}" class="text-decoration-none">{{ article.title }}</a>
      <span class="text-muted">{{ article.summary.strip("<p>/") }}</span>
    </dd>{% endfor %}
  </div>
  <hr>{% endfor %}
</div>{% endblock %}
