{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}
{% block content %}
<div class="container">{% for category, articles in categories | sort %}
  <h3 class="mt-3">{{ category }}</h3>
  <div class="row">
    <ul>
      {% for article in articles %}
      <li>
        <span class="text-monospace">{{ article.locale_date }}</span> <a href="{{ SITEURL }}/{{ article.url }}"
          class="text-decoration-none"">{{ article.title }}</a> <span class=" text-muted index-summary">{{
          article.summary }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <hr>{% endfor %}
</div>{% endblock %}